# --- Node/Frontend ---
frontend/node_modules/
frontend/.env*
frontend/dist/
frontend/.next/
frontend/.cache/
frontend/.DS_Store

# --- Storybook ---
frontend/storybook-static/
frontend/.storybook-out/
frontend/storybook-build/
frontend/.storybook/*.backup
frontend/.storybook/.cache/
frontend/.storybook/public/

# --- Storybook Stories (ejemplos/demo) ---
frontend/src/stories/

# --- Python/Backend ---
backend/venv*/
backend/__pycache__/
backend/*.pyc
backend/.env*
backend/*.log
backend/layers/percentiles/python
backend/.venv/


# --- Logs ---
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- General ---
*.pyc
__pycache__/
.env
.env.*
*.local
PROMPT*.md

# --- Editor/OS/Global ---
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore documentation files
docs/ 


# Ignore test
frontend/__tests__/

# Ignore aws sam artifacts
.aws-sam/

# Ignore auxiliars scripts and trial files
scripts/
informe.md
resumen.md
.gitignore
frontend/src/utils/numberUtils.js
.gitignore
frontend/src/pages/dev/


*storybook.log
storybook-static
